{% load i18n %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{ document_title }} {{ bookshop.name }}</title>

    <style>
     .new-page {
         page-break-before: always;
     }

     @page {
         font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
         font-size: 11px;
         color: #555;
         @bottom-center {
             content: "{% if bookshop.checks_order %} Chèques à l'ordre de {{ bookshop.checks_order }} {% else %} {{ bookshop.name | safe }} {% endif %}. {% if bookshop.bank_IBAN %} IBAN: {{ bookshop.bank_IBAN }} {% endif %} {% if bookshop.bank_BIC %} Code BIC: {{ bookshop.bank_BIC}} {% endif %} {% if bookshop.is_vat_exonerated %} - exonéré de TVA.{% endif %} "
         }
     }

     .invoice-box {
         max-width: 800px;
         margin: auto;
         padding: 14px;
         box-shadow: 0 0 10px rgba(0, 0, 0, .15);
         font-size: 12px;
         line-height: 14px;
         font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
         color: #555;
     }

     .invoice-box table {
         width: 100%;
         line-height: inherit;
         text-align: left;
     }

     .invoice-box table td {
         padding: 5px;
         vertical-align: top;
     }

     .with-border table td {
         border-bottom: 1px solid #ddd;
     }

     .invoice-box table tr td:nth-child(2) {
         text-align: right;
     }

     .invoice-box table tr.top table td {
         padding-bottom: 14px;
     }

     .invoice-box table tr.top table td.title {
         font-size: 24px;
         line-height: 45px;
         color: #333;
     }

     .invoice-box table tr.information table td {
         padding-bottom: 15px;
     }

     .invoice-box table tr.heading td {
         background: #eee;
         font-weight: bold;
     }

     .invoice-box table tr.details td {
         padding-bottom: 7px;
     }

     .invoice-box table tr.item td{
     }

     .invoice-box table tr.item.last td {
         border-bottom: none;
     }

     .invoice-box table tr.total td:nth-child(2) {
         font-weight: bold;
     }

     @media only screen and (max-width: 600px) {
         .invoice-box table tr.top table td {
             width: 100%;
             display: block;
             text-align: center;
         }

         .invoice-box table tr.information table td {
             width: 100%;
             display: block;
             text-align: center;
         }
     }

    </style>
  </head>

  <body>
    <div class="invoice-box new-page">
      <table cellpadding="0" cellspacing="0">
        <tr class="top">
          <td colspan="2">
            <table>
              <tr>
                <td class="title">
                  {{ bookshop.name }}
                  <img style="width:100%; max-width:300px;">
                </td>

                <td>
                  <!-- Facture n° 123<br> -->
                  {{ creation_date_label}}: {{ creation_date_fmt }}<br>
                  {{ due_date_label }}: {{ due_date_fmt }}
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="information">
          <td colspan="2">
            <table>
              <tr>
                <td>
                  {{ bookshop.address1 }}<br>
                  <!-- {{ bookshop.address2 }}<br> -->
                  {{ bookshop.zip_code }} &nbsp; {{ bookshop.city }}<br>
                  <!-- {{ bookshop.state }}<br> -->
                  {% if bookshop.website %}
                  {{ bookshop.website }}<br>
                  {% endif %}
                  {% if bookshop.email %}
                  {{ bookshop.email }}<br>
                  {% endif %}
                  {% if bookshop.company_number %}
                  {{ bookshop.company_number }}<br>
                  {% endif %}
                  {% if bookshop.bookshop_number %}
                  {{ bookshop.bookshop_number }}<br>
                  {% endif %}

                  <br>
                  {% if bookshop.presentation_comment %}
                  {{ bookshop.presentation_comment | safe }}
                  {% endif %}

                </td>

                <td>
                  {{ client.name }} {{ client.firstname }}<br>
                  <br>
                  {% if client.company_number %}
                  {{ client.company_number }}
                  <br>
                  {% endif %}

                  {% if client.address1 %}
                  {{ client.address1 }}
                  {% endif %}
                  {% if client.address2 %}
                  {{ client.address2 }}
                  {% endif %}
                  {% if client.zip_code %}
                  <br>
                  {{ client.zip_code }}
                  {% endif %}
                  {% if client.city %}
                  {{ client.city }}
                  {% endif %}
                  {% if client.country %}
                  <br>
                  {{ client.country }}
                  {% endif %}

                </td>
              </tr>
            </table>
          </td>
        </tr>

      </table>
    </div>

    <h5> {{ document_title }}
      <br>
      {% if bon_de_commande %}
      <span> Bon de commande: {{ bon_de_commande }} </span>
      {% endif %}
    </h5>

    <div class="invoice-box">
      <table>
        <thead>
          <tr>
            <th> {% trans "EAN13" %} </th>
            <th>
              {% trans "Title" %}
            </th>
            <th>
              {% trans "Publisher" %}
            </th>
            <th style="text-align: right">
              {% trans "Price" %}
            </th>
            <th style="text-align: right">
              {% trans "Quantity" %}
            </th>
          </tr>
        </thead>

        <tbody>
          {% for card_qty in cards_data %}
          <tr>
            <td style="text-align: right">
              {{ card_qty.0.isbn }}
            </td>
            <td style="text-align: left">
              {{ card_qty.0.title }}
            </td>
            <td style="text-align: left">
              {{ card_qty.0.pubs_repr }}
            </td>
            <td style="text-align: right">
              {{ card_qty.0.price_fmt }}
            </td>
            <td style="text-align: right">
              x {{ card_qty.1 }}
            </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

    <div class="invoice-box with-border">
      <table>


        <!-- <tr>
             <td>
             {{ total_label }}
             </td>

             <td>
             {{ total_fmt }}
             </td>
             </tr> -->

        {% if show_discount %}
        <tr class="item">
          <td>
            {{ discount_label }}
          </td>

          <td>
            {{ discount_fmt }}
          </td>
        </tr>

        <tr class="item">
          <td>
            {% trans "Total with discount" %}<br>
          </td>

          <td>
            {{ total_discounted_fmt }}
          </td>
        </tr>
        {% endif %}

        {% if not bookshop.is_vat_exonerated %}
        <tr class="item">
          <td>
            {{ total_before_taxes_label }}
          </td>

          <td>
            {{ total_before_taxes_fmt }}
          </td>
        </tr>

        <tr>
          <td>
            {% trans "TVA" %}
          </td>
          <td>
            {{ total_vat_fmt }}
          </td>
        </tr>
        {% endif %}

        <tr class="total">
          <td></td>
          <td>
            {{ total_to_pay_label }}: {{ total_discounted_fmt }}
          </td>
        </tr>
      </table>
    </div>

  </body>
</html>
