// Copyright 2014 - 2022 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load ngfilter %}

{% get_current_language as LANGUAGE_CODE %}

{% if messages %}
ul.messages
  {% for msg in messages %}
  uib-alert(type="success")  {{ msg }}
  {% endfor %}
{% endif %}

div(ng-cloak, ng-controller="basketsController")
 .row
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

  ul.nav.nav-tabs.nav-justified(style="padding-bottom: 5px")
    // The active class is toggled JS side.
    li#baskets_tab_id(role="presentation")
      a(href="/{{ LANGUAGE_CODE }}/baskets/") {% trans "Lists" %}
    li#archives_tab_id(role="presentation")
      a(href="/{{ LANGUAGE_CODE }}/archives/baskets/") {% trans "Archives" %}

 .row
  .col-md-3
   div(ng-hide="baskets.length != 0")
     h4
       a(href="#", ng-click="open_new_basket('sm')") {% trans "Create a basket" %} 
         i.glyphicon.glyphicon-plus

   ul.list-group
     div(ng-repeat="it in baskets")
        li.list-group-item.mouse-pointer(
          ng-class="{active: cur_basket.id == it.id}"
          ng-click="showBasket($index)"
          uib-popover="{{'baskets[$index].comment.substring(0,200)'|ng}}"
          popover-trigger="mouseenter"
          popover-placement="left") {{ " it.name " | ng }}
            span.badge {{ " it.length " | ng }}

  .col-md-9
   .row
    .col-md-6

     .btn-group
      .dropdown

         button.btn.btn-info.dropdown-toggle#action-button-id(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Action" %}
           span.caret

         ul.dropdown-menu
           li
             a(href="#", title='', ng-click="open_new_basket('sm')") {% trans "Create a list" %} 
               i.glyphicon.glyphicon-plus

           li.divider(role="separator")
           li: a(href="/databasesearch/basket/{{ 'cur_basket.id'|ng }}/", target="_blank") {% trans "Set the supplier" %}

           li.divider(role="separator")

           li: a(href="#", ng-click="add_to_stock(cur_basket.id)", title='{% trans "Add all the cards to the stock." %}') {% trans "Add to stock…" %}
           li: a(href="#", ng-click="add_to_shelf(cur_basket.id)", title='{% trans "Add all the cards to a shelf." %}') {% trans "Add to shelf…" %}
           li: a(href="#", ng-click="command()", title='{% trans "Mark all the cards to command" %}') {% trans "Command…" %}
           li: a(href="#", ng-click="receive_command()", title='{% trans "Receive a command and check you received all the books" %}') {% trans "Receive a command" %}…
           li: a(href="#", ng-click="return_to_supplier()", title='{% trans "Return the cards to the distributor of this basket." %}') {% trans "Return to supplier" %}…
           li: a(href="#", ng-click="choose_client_to_sell()", title='{% trans "Sell" %}. {% trans "Choose a client." %}') {% trans "Sell" %}…

           li.divider(role="separator")
           li: a(href="#", ng-click="empty_basket()", title='{% trans "Empty this list." %}') {% trans "Empty this list" %}
           li: a(href="#", ng-click="archive_basket()", title='{% trans "Archive this list." %}') {% trans "Archive this list" %}

     .btn-group
      .dropdown
       button.btn.btn-success.dropdown-toggle(data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}") {% trans "Export" %}
         span.caret

       ul.dropdown-menu
         li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=txt&report=listing") txt

         li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=csv&report=listing") {% trans "List" %} - csv

         li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=csv&report=simplelisting") {% trans "isbn and quantity (Dilicom)" %} - csv

         li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=pdf&report=listing&barcodes=true") {% trans "List, with barcodes" %} - pdf

         li: a(href="/baskets/{{ 'cur_basket.id' | ng}}/export?format=pdf&report=listing&barcodes=false&covers=true") {% trans "List, with covers" %} - pdf
         li.divider(role="separator")
         li: a(href="#", ng-click="choose_client_for_bill(cur_basket.id, 1)", title='{% trans "Create a bill for a client" %}') {% trans "Bill" %}…
         li: a(href="#", ng-click="choose_client_for_estimate(cur_basket.id, 2)", title='{% trans "Create an estimate for a client" %}') {% trans "Estimate" %}…

     .btn-group
      .dropdown
       button.btn.btn-success.dropdown-toggle(data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Import files' %}") {% trans "Import" %}
         span.caret
       ul.dropdown-menu
         li
           //- a(href="#", title='', ng-click="file_upload()") {% trans "isbn and quantity (Dilicom)" %} - csv
           a(href="#", title='', href="/import?source=basket&id={{ 'cur_basket.id' | ng }}") {% trans "isbn and quantity (Dilicom)" %} - csv

     .btn-group
       button.btn.btn-default(ng-click="toggle_images()", title='{% trans "Hide and show covers (d)" %}')
         i.glyphicon.glyphicon-th-list

       button.btn.btn-default(type="button", ng-click="showing_notes = ! showing_notes", title='{% trans "Show your notes (n)" %}')
         i.glyphicon.glyphicon-pencil

       a.btn.btn-default(href="http://abelujo.cc/docs/lists/", target="_blank", title='{% trans "Read the documentation" %}')
         i.glyphicon.glyphicon-question-sign

    .col-md-2

    .col-md-6
       form
          p.input-group
            input.nullable.form-control#default-input(
              type='text'
              typeahead-loading="loadingCards"
              ng-model='copy_selected'
              uib-typeahead='copy.repr for copy in getCards($viewValue)'
              typeahead-min-length="3"
              typeahead-wait-ms="300"
              typeahead-on-select="add_selected_card($item)"
              title="{% trans 'Use TAB to validate your choice, Enter to proceed.' %}"
              id="default-input"
              autocomplete="off"
              placeholder='{% trans "Search any isbn, search by keywords in your stock" %}'
            )

            span.input-group-btn
              button.btn.btn-default(type='button')
                i.glyphicon.glyphicon-search

   div(ng-show="cur_basket.created") {% trans "Created" %}: {{ 'cur_basket.created | date: "mediumDate"' | ng }}

   div#archived_on_id {% trans "Archived on" %}: {{ 'cur_basket.archived_date' | ng }}


   ul#supplier(ng-show="cur_basket.dist_repr")
     li {% trans "supplier" %}:  {{ 'cur_basket.dist_repr' | ng }}

   div(ng-show="showing_notes")
     div
       textarea(cols=80, rows=6, ng-model="cur_basket.comment")
     button.button.btn.btn-default(ng-click="save_basket()") {% trans "Save" %}

   div(ng-show="cur_basket.sold_date")
     div {% trans "Sold date" %}: {{ 'cur_basket.sold_date' | ng }}

   div.middle(ng-hide="copies.length", style="height: 30%; width: 30%")
     em {% trans "This list has no books inside… yet." %}
   div.middle(ng-hide="copies.length", style="height: 80%; width: 30%")
     img(src="/static/search/bee.png", height="200px", style="opacity: 0.7")

   div(ng-show="boxes_page && meta.total_weight") {% trans "Weight:" %}  {{ 'meta.total_weight' | ng }}g

   .col-md-7
      .btn-group
        span.text-right(aria-label="page navigation")
           ul.pagination(ng-show="copies.length")
             li.page-item
               a.page-link(ng-click="firstPage()")  &laquo;
             li.page-item
               a.page-link(ng-click="previousPage()") <
             li.page-item
               a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})
             li.page-item
               a.page-link(ng-click="nextPage()") >
             li.page-item
               a.page-link(ng-click="lastPage()") &raquo;

      .btn-group
        select.form-control(ng-show="copies.length", ng-model="page_size", ng-options="it for it in page_sizes", style="width: 5em")

   table.table.table-condensed.table-striped(ng-cloak, ng-show="copies.length")
     thead
       th.mouse-pointer(ng-show="show_images")
       th.mouse-pointer(ng-click="sort_by('title')") {% trans "Title" %}
         span.caret
       th.mouse-pointer(ng-click="sort_by('pubs_repr')", onclick="sort_by('title')", title="click to sort") {% trans "Publisher" %}
         span.caret(ng-click="sort_by('pubs_repr')")
       th.mouse-pointer(ng-click="sort_by('distributor')", title="click to sort") {% trans "Supplier" %}
         span.caret
       th.mouse-pointer(ng-click="sort_by('created')") {% trans "Created" %}
         span.caret
       th.mouse-pointer(ng-click="sort_by('modified')") {% trans "Modified" %}
         span.caret
       th.mouse-pointer(ng-click="sort_by('quantity')", title="click to sort") {% trans "In stock" %}
         span.caret

       if FEATURE_BASKETS_SHOW_DEPOSIT_QUANTITIES
         th.mouse-pointer(ng-click="sort_by('nb_current_deposit')", title="click to sort") {% trans "In deposit" %}

       th.mouse-pointer.text-right(ng-click="sort_by('price')", title="click to sort") {% trans "Price" %}
         span.caret
       th.mouse-pointer(ng-click="sort_by('basket_qty')", title="click to sort")
         span.caret

     tbody
       tr
         td(ng-show="show_images")
            .col-md-6

         td {% trans "Total" %}
         td
         td
         td
         td
         td
         if FEATURE_BASKETS_SHOW_DEPOSIT_QUANTITIES
           td
         td {{ 'get_total_price()'|ng}} {{ 'meta.default_currency' | ng }}
         td {{ 'get_total_copies()'|ng}}
         td

       tr.my-animated-item(
          ng-repeat="it in copies")

         td(ng-show="show_images")
            .col-md-6(ng-show="show_images")
              img.myImg(ng-show="it.img", ng-src="{{ 'it.img' | ng }}")
         td
           .col-md-12
            span(ng-hide="it.isbn", title="Cette notice n'a pas d'ISBN. Elle ne peut pas être commandée via Dilicom.")
              i.glyphicon.glyphicon-warning-sign &nbsp;
            a(href="{{ 'it.get_absolute_url' | ng}}") {{ 'it.title' | ng }}
            div(ng-show="show_images") {{'it.authors_repr'|ng}}
            div(ng-show="show_images") {{ 'it.isbn' | ng }}
            div(class="badge badge-secondary", ng-show="show_images") {{'it.shelf'|ng}}
         td {{ 'it.pubs_repr' | ng }}
         td {{ 'it.dist_repr' | ng }}

         td {{ 'it.created' | ng }}
         td {{ 'it.modified' | ng }}
         td.text-right {{ 'it.quantity' | ng}}

         if FEATURE_BASKETS_SHOW_DEPOSIT_QUANTITIES
           td.text-right {{ 'it.qty_deposits' | ng}}

         td.text-right {{ 'it.price_fmt' | ng }}
         td
          input.my-number-input(type="number", min=0, max=99,
            ng-model="it.basket_qty"
            ng-change="save_quantity($index)")
         td: i.glyphicon.glyphicon-remove.mouse-pointer.my_remove(ng-click="remove_from_selection($index)", style="padding-left: 1em;", title='{% trans "Remove from basket" %}'")

   .col-md-7
      .btn-group
        span.text-right(aria-label="page navigation")
           ul.pagination(ng-show="copies.length")
             li.page-item
               a.page-link(ng-click="firstPage()")  &laquo;
             li.page-item
               a.page-link(ng-click="previousPage()") <
             li.page-item
               a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})
             li.page-item
               a.page-link(ng-click="nextPage()") >
             li.page-item
               a.page-link(ng-click="lastPage()") &raquo;

      .btn-group
        select.form-control(ng-show="copies.length", ng-model="page_size", ng-options="it for it in page_sizes", style="width: 5em")


 script(type="text/ng-template", id="basketModal.html")
    div.modal-header
      h3.modal-title {% trans "Create a list" %}

    div.modal-body
      form
        label {% trans "Name" %}
        input#modal-input(type="text", ng-model="new_name")

        button.btn.btn-primary(ng-click="ok()") {% trans "OK" %}
        button.btn(ng-click="cancel()") {% trans "Cancel" %}

 script(type="text/ng-template", id="chooseShelfModal.html")
    div.modal-header
      h3.modal-title {% trans "Choose a shelf" %}

    div.modal-body
      span
         div {% trans "All the cards will be added to this shelf in the default place, and the list will be archived." %}
         select.form-control(
           ng-model="selected_shelf",
           ng-options="it.fields.name for it in shelves")

      button.btn.btn-primary(ng-click="ok()") {% trans "OK" %}
      button.btn(ng-click="cancel()") {% trans "Cancel" %}

 script(type="text/ng-template", id="chooseClientModal.html")
    div.modal-header
      h3.modal-title {% trans "Choisissez un client" %}

    div.modal-body
      span
         select.form-control(
           ng-model="selected_client",
           ng-options="it.__repr__ for it in clients")

      // the fucking checkbox goes false after TWO clicks.
      //- div check {{ 'checkboxsell' | ng }} bill? {{ 'bill_or_estimate' | ng }}
      //- div(ng-hide="bill_or_estimate==2")
        //- label(for="checkboxsell") {% trans "Sell the books" %}
        //- input(type="checkbox", name="checkboxsell", ng-model="checkboxsell", ng-checked="checkboxsell")

      //- div {% trans "Attention: établir une facture enregistre une vente" %}
      div {% trans "Remarque: établir une facture n'enregistre pas la vente automatiquement." %}

      button.btn.btn-primary(ng-click="ok()") {% trans "OK" %}
      button.btn(ng-click="cancel()") {% trans "Cancel" %}

 script(type="text/ng-template", id="chooseClientForEstimateModal.html")
    div.modal-header
      h3.modal-title {% trans "Choisissez un client" %}

    div.modal-body
      span
         select.form-control(
           ng-model="selected_client",
           ng-options="it.__repr__ for it in clients")

      input(hidden, type="checkbox", name="checkboxsell", ng-model="checkboxsell")

      button.btn.btn-primary(ng-click="ok()") {% trans "OK" %}
      button.btn(ng-click="cancel()") {% trans "Cancel" %}

script(type="text/ng-template", id="chooseClientToSellModal.html")
    div.modal-header
      h3.modal-title {% trans "Choisissez un client" %}

    div.modal-body
      div
         select.form-control(
           ng-model="selected_client",
           ng-options="it.__repr__ for it in clients")

      div(style="margin-top: 1em")
        span(ng-repeat="payment in payment_means")
          button.btn.btn-success(ng-model="payment", ng-click="ok( payment.id )") {{ 'payment.name' | ng }}

      div(style="margin-top: 1em")
        button.btn(ng-click="cancel()") {% trans "Cancel" %}

{% endblock content %}