// Copyright 2014 - 2022 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.

{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% load ngfilter %}
{% bootstrap_css %}
{% bootstrap_javascript %}

div.ng-cloak(ng-controller="cardAddController")
  h3 {{ "card.title" | ng}} ({{ "card.price | currency: '€'" | ng }})
  .row
    table
      tr
        td.my-narrow {% trans "shelf" %}
        td: select.my-narrow(ng-model="shelf", ng-options="it.fields.name for it in shelfs")
        td(style="padding-left: 10em"): input.btn.btn-primary(value="{% trans 'Validate' %}", ng-click="validate()")
      tr
        td.my-narrow {% trans "supplier" %}
        td

          select.my-narrow(ng-model="distributor", ng-options="it.repr for it in distributor_list")
          a(target="_blank", href="/admin/search/distributor/add")&nbsp;
                i.glyphicon.glyphicon-plus-sign(title='{% trans "Add a supplier" %}')

      tr
        td {% trans "Minimal quantity before command" %}
        td
          form(ng-submit="validate()")
            input(type="number", min=0, ng-model="threshold")

  .row(ng-show="filtered_deposits.length")
      h4 {% trans "Add to following deposits" %}:
      table.table.table-condensed.table-striped.my-table-narrow
        tr(ng-repeat="it in filtered_deposits")
         td.my-narrow {{ "it.name" | ng }} ({{ "it.distributor" | ng }})
         td
           form(ng-submit="validate()")
             input(type="number", min=0
               ng-model="deposits[$index].quantity"
               ng-change="update_total_deposits()")
        tr
          td
          td {% trans "total" %}: {{ "total_deposits" | ng }}

  .row
      h4 {% trans "Add copies for each place" %}:
      table.table.table-condensed.my-table-narrow
        tr(ng-repeat="it in places")
          td.my-narrow {{ "it.name" | ng }}
          td
            form(ng-submit="validate()")
              input(type="number", min=0, ng-model="places[$index].quantity", ng-change="update_total_places()")

  .row
      h4 {% trans "Add to lists" %}:
      table.table.table-condensed.table-striped.my-table-narrow
        tr(ng-repeat="it in baskets")
          td.my-narrow {{ "it.name" | ng }}
          td
            input(type="number", min=0, ng-model="baskets[$index].quantity")

{% endblock content %}