// Copyright 2014 - 2022 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block pagetitle %}
{{ page_title }}
{% endblock pagetitle%}

{% block content %}

{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}
{% load humanize %}


{% get_current_language as LANGUAGE_CODE %}

//
// No Angular nor Vue, uses card.js and abelujo-js.js
//

//div#abelujo
  hello(title="hello vue !")

.row
  .col-lg-12
    ul.nav.nav-tabs
      li.active(role="presentation"): a(href="#") {% trans "Card details" %}
      li(role="presentation")
        a(href="{% url 'card_history' object.pk %}") {% trans "History" %}

.row
  .col-lg-3
    if user.is_staff
      .btn-group
        a.btn.btn-default(href="{% url 'card_edit' object.pk %}", title="{% trans 'Edit the card' %}") {% trans "Edit" %}
        a.btn.btn-default(href="{% url 'card_places_add' object.pk %}", title="{% trans 'Add to places' %}") {% trans "Add..." %}
        // a.btn.btn-default(href="{% url 'card_move' object.pk %}") {% trans 'Move…' %}
        a.btn.btn-default(href="/{{ LANGUAGE_CODE }}/databasesearch/card/{{ object.pk }}", title="{% trans 'Edit the card'  %}") Admin

  .col-lg-7
    if user.is_staff
     div
      .btn-group
        a.btn.btn-default(href="#", title='{% trans "Add 1 copy to the default place" %}', onclick="card_add_one_to_default_place({{ object.pk }})")
          i.glyphicon.glyphicon-plus 1
        a.btn.btn-default(href="#", title='{% trans "Remove 1 copy to the default place" %}', onclick="card_remove_one_from_default_place({{ object.pk }})")
          i.glyphicon.glyphicon-minus 1

      .btn-group(style="margin-left: 1em")
        a.btn.btn-warning(href="#", title='{% trans "Remember to command this card. Add it to the list for later." %}', onclick="card_command({{ object.pk }})")
          i.glyphicon.glyphicon-shopping-cart
          span &nbsp; x
            span(id="nb_to_command_{{ object.pk }}") {{ object.quantity_to_command }}

      .btn-group(style="margin-left: 1em")
        if object.is_catalogue_selection
          a.btn.btn-default(id="heart-{{ object.pk }}", href="", title='{% trans "Select this card for the online catalogue special selection." %}', onclick="card_catalogue_select({{ object.pk }})", style="background-color: pink")
            i.glyphicon.glyphicon-heart
        else
          a.btn.btn-default#heart(href="", title='{% trans "Select this card for the online catalogue special selection." %}', onclick="card_catalogue_select({{ object.pk }})")
            i.glyphicon.glyphicon-heart

        if feature_exclude_for_website
          if object.is_excluded_for_website
            a.btn.btn-default(id="exclude-{{ object.pk }}", href="", title='{% trans "Exclude this card from the online catalogue." %}', onclick="card_catalogue_exclude({{ object.pk }})", style="background-color: pink")
              i.glyphicon.glyphicon-eye-close
          else
            a.btn.btn-default(id="exclude-{{ object.pk }}", href="", title='{% trans "Exclude this card from the online catalogue." %}', onclick="card_catalogue_exclude({{ object.pk }})")
              i.glyphicon.glyphicon-eye-close

        // WIP reservation button. Enable with feature flag in settings.
        if feature_show_reservation_button
          button(type="button", class="btn btn-default", data-toggle="modal", data-target="#reserveModal", title="Réserver pour un client", onclick="focus_input()")
              i.glyphicon.glyphicon-user
              span &nbsp; x
                  span(id="nb_to_command") {{ object.quantity_clients_reserved }}

.row
  .col-lg-3
      .row(style="margin: 1em 0 0 1px;")
        img.img-responsive(ng-src="{{ object.img }}", style="max-width: 200px")

      .row(style="margin-left: 1px;")

        h4 {{ object.price_fmt }}
          {% if object.selling_price %}
          div {% trans "Selling price" %}: {{ object.selling_price }}
          {% endif %}
          if object.vat1
            span(title="{{ object.vat1 }}% of {{ object.price }} is {{ object.check_vat.0 }}. Actual tax is {{ object.check_vat.1 }}%") &nbsp; ({{ object.price_excl_vat }}, {{ object.vat1 }}%)
          if object.vat
            span {{ object.vat }}
        table.table.table-condensed.table-bordered
          tbody
            tr
              td {% trans "isbn" %}
              td {{ object.isbn }}
            if object.is_unavailable
              tr.my-yellow-bg
                td Disponibilité
                td {% trans "Not available" %}
            else object.availability
             if object.availability == 1
              tr
                td Disponibilité
                td {{ object.availability_fmt }}
             else
               tr.my-yellow-bg
                td Disponibilité
                td {{ object.availability_fmt }}

            if object.date_publication
              tr
                td {% trans "Publication date" %}
                td {{ object.date_publication }}
            elif object.year_published
              tr
                td {% trans "Publication date" %}
                td {{ object.year_published }}
            tr
              td
                | {# Translators: format like pocket or big (livre de poche) #}
                | {% trans "format" %}
              td
                if object.fmt
                  span {{ object.fmt }}
                if object
                  span(title='{% trans "width" %} {% trans "height" %} {% trans "thickness" %}') ({{ object.width }} x {{ object.height }} x {{ object.thickness }})

            if object.weight
              tr
                td {% trans "Weight" %}
                td {{ object.get_weight_repr }}

            tr
              td {% trans "Présentation éditeur" %}
              td {{ object.presedit_name }}

            tr
              td {% trans "source" %}: 
              td
                if object.data_source
                  a(target="_blank", href="{{ object.details_url }}") {{ object.data_source }}
            tr
              td
                span: a(target="_blank", href="https://duckduckgo.com/?q={{object.title}}+{{object.display_authors}}") {% trans "Web search" %}
                    span.glyphicon.glyphicon-share-alt(style="padding-left: 3px;")
  .col-lg-9
    h3 {{ object.title }}
    h4
      if object.card_type.name != "book"
        span.label.label-default.mouse-pointer(style="margin-right: 1em", onclick="search_stock('type:{{ object.card_type.pk }}')") {{ object.card_type.name }}

      if object.lang
        i.glyphicon.glyphicon-comment(style="margin-right: 1em")
          span.mouse-pointer(style="margin-left: 5px", onclick="search_stock('lang:{{ object.lang }}')", title="Chercher dans le stock") {{ object.lang }}

      a(onclick="search_authors_stock()", href="", style="color: #333333; text-decoration: underline", data-authors="{{ object.display_authors }}", id="authors", title="Chercher dans le stock") {{ object.display_authors }}

    .col-lg-8

      table.table
        tbody
          tr
            td {% trans "Publishers" %}
            td
                for pub in object.get_publishers
                    div: a(id="publisher_{{ forloop_counter0 }}", href="", onclick="search_publisher_stock()", data-publisher="{{ pub.name }}", title="Chercher dans le stock") {{ pub.name }}

          tr
            td {% trans "Supplier" %}
            td
              for dist in object.get_distributor
                  span: a(id="supplier", href="", onclick="search_supplier_stock()", data-supplier_id="{{ dist.id }}", title="Chercher dans le stock") {{ dist.repr }}
                  span {% if dist.gln %} ({{dist.gln}}) {% endif %}
          if object.get_distributor and object.distributor.dilicom_enabled
            tr
              td {% trans "Commande via Dilicom ?" %}
              td {{ object.distributor.is_comm_via_dilicom }}

          tr
              td {% trans "Collection" %}
              td
                if object.collection
                  {{ object.collection }}

          tr
              td {% trans "Shelf" %}: 
              td(id="shelf-name", style="display: none")
                if object.shelf
                  {{ object.shelf }}
              td(id="shelf-select-td")
                // on-change: event listener in card.js
                select(id="shelf-select", name="shelves")

          if object.theme
            tr
                td {% trans "Theme" %}: 
                td(title="CLIL code: {{ object.theme }}")
                  if object.parent_theme_name
                    {{ object.parent_theme_name }} /
                  if object.theme
                    {{ object.theme_name }}

          tr(class="{% if object.quantity > 0 %} active {% elif object.quantity < 0 %} danger {% endif %}")
            td {% trans "In stock" %}
            td(id="in_stock")
              span {{ object.quantity_compute }}
              if object.quantity_clients_reserved
                span &nbsp; ({% trans "reserved" %}: &nbsp;
                span(id="reservation") {{ object.quantity_clients_reserved }}
                  if has_one_reservation
                    span &nbsp; {{ reservations.0.client.repr }}
                span )

          if has_many_places
            tr
              td {% trans "Presente in" %}
              if not object.quantity
                td ---
              else
               td
                table.table.table-condensed
                  for name_qty in places_quantities
                    tr
                      td(id="{{ name_qty.2 }}") {{ name_qty.0 }} 
                      td(id="{{ name_qty.2}}_quantity")  {{ name_qty.1 }}

          tr
            td {% trans "Boxes" %}
            if not quantity_boxes
              td ---
            else
              td
                table.table.table-condensed
                  for tup in quantity_boxes
                    tr
                      td
                        a(href="{% url 'box_view' tup.1 %}") {{ tup.2 }}
                      td {{ tup.0 }}

          tr
              td {% trans "Minimal qty" %}
              td {{ object.threshold }}

          tr(class="{% if object.quantity_deposits > 0 %} active {% elif object.quantity_deposits < 0 %} danger {% endif %}")
            td {% trans "In deposits" %}
            td {{ object.quantity_deposits }}
          if object.quantity_deposits
            tr
              td {% trans "Deposits" %}
              td
                  for dep_tup in object.deposits
                    div: a(href="/deposits/{{ dep_tup.1 }}") {{ dep_tup.0 }}
                  if not object.deposits and not object.quantity
                    span --- &nbsp;
                      a(href="{% url 'deposits_new' %}") ({% trans "Create" %})

      div
          if object.summary
            hr
            h4
              span.glyphicon.glyphicon-align-left(style="padding-right: 1em;")
              span {% trans "Summary" %}
            div(style="padding-left: 1em") {{ object.summary }}
          else
            div
      div
          h4 {% trans "Comment" %} 
          div
            a(href="{% url 'admin:search_card_change' object.pk %}", target="_blank")  {% trans "edit" %}
          em.my-border {{ object.comment }}


    .col-lg-2
          table.table.table-condensed
            tbody

              tr(class="{% if object.alert_set.count %} danger {% endif %}")
                td  {% trans "Alerts" %}
                td {{ object.alert_set.count }}

              tr
                td {% trans "Card creation" %}
                td {{ object.created }}
              tr
                td {% trans "Last entry" %}
                td {{ last_entry.created }}
                  //- if not last_entry
                  //- span {% trans "no data" %}
                  //- else
                    //- a(href="{{ last_entry.get_absolute_url }}")
                      div {{last_entry.created }}
                    span {{ last_entry.created }}

              tr
                td {% trans "Sells since the last entry" %}
                td {{ total_sold }}

              tr
                td {% trans "Pending commands" %}
                td
                  if not pending_commands
                    div 0
                  else
                      ul
                        for cmd in pending_commands
                          li
                            | x{{ cmd.qty }} -
                            | <a href="{{ cmd.command.get_absolute_url }}">{{ cmd.command.title }}</a> -
                            | {{ cmd.command.created }}

// we'll use the modal shortly !
script(type="text/ng-template", id="commandModal.html")
    div.modal-header
      h3.modal-title {% trans "Command" %}
      div {% trans "The cards are grouped by supplier. Please check the list and confirm." %}

    div.modal-body
      div(ng-repeat="card in cards")
        h4 {% trans "Supplier" %}: {{ 'distributor.name' | ng }}
        div(ng-repeat="card in cards")
          div {{'card.title'|ng}}

div.modal(id="reserveModal")
  div.modal-dialog
    div.modal-content

      div.modal-header
        h4.modal-title {% trans "Réserver" %}
        button(type="button", class="close", data-dismiss="modal")

      div.modal-body
        div {% trans "Si ce livre n'est pas en stock il sera ajouté à la liste de commandes." %}
        div {% trans "S'il est en rayon, cliquer sur OK veut dire que vous l'avez mis de côté pour le client." %}
        h4 {% trans "Clients" %}
        input#clients-input(autofocus, type="text", list="clients-select", onkeydown="if (event.keyCode == 13) validate_reservation()")
        datalist#clients-select
          for client in clients
            option(value="{{ client.ascii_repr }}", id="{{ client.id }}")

        //- select#clients-select
          for client in clients
            option(id="{{ client.id }}") {{ client.ascii_repr }}
        button.btn.btn-success(type="button", onclick="validate_reservation()") OK

        div: em {% trans "Cherchez sans accents" %}

        br
        if reservations
          h5 {% trans "Ces clients ont réservé cette notice" %}:
          table.table.table-condensed
            for resa in reservations
              tr(id="#resa-{{ resa.client.id }}")
                td
                  h4 {{ resa.client.repr }} &nbsp;
                    a(href="{{ resa.client.url }}", target="_blank")
                      i.glyphicon.glyphicon-share
                td
                  if resa.client.mobilephone
                    span {{ resa.client.mobilephone }} 
                      i.glyphicon.glyphicon-phone
                td
                  button(type="button", onclick="cancel_reservation({{ resa.client.id }})", name="cancel-reservation", alt="Cancel reservation")
                    i.glyphicon.glyphicon-remove


// important to run this last, so CSS selectors select something.
script(type='text/javascript', src="{% static 'search/js/card.js' %}")

{% endblock content %}
