// Copyright 2014 - 2022 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% load staticfiles %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-cloak, ng-controller="collectionController")

 div#data-currency(data-currency="{{ currency }}")

 {% if messages %}
 ul.messages
  {% for msg in messages %}
  uib-alert(type="{{ msg.tags }}") {{ msg }}
  {% endfor %}
 {% endif %}

 div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

 form(ng-submit="validate()")
  .row
   form
    .col-md-6
     div.form-group
        label.col-md-4 {% trans "Search terms" %}
        div.col-md-8
          input.form-control#default-input(
            ng-model="query"
            type="text"
            placeholder='{% trans "Search on title, authors or isbn" %}'
          )

     div
        label.col-sm-4 {% trans "Type of card" %}
        div.col-md-8
          select.form-control(ng-model="card_type", ng-options="type.fields.name for type in card_types")

     div
        label.col-sm-4 {% trans "Publisher" %}
        div.col-md-8
            input.form-control#publisher-input(type="text", list="publisher-select")
            datalist#publisher-select
              for it in publishers
                option(value="{{ it.name_ascii }}", id="{{ it.pk }}")

     div
          label.col-sm-4 {% trans "Distributor" %}
          div.col-md-8
              input.form-control#distributor_input(type="text",
                list="distributor-select",
                title="Sélectionner un distributeur.")
              datalist#distributor_select
                for it in distributors
                  option(value="{{ it.name_ascii }}", id="{{ it.id }}")


     if show_places
        div.form-group
            label.col-sm-4 {% trans "Place" %}
            div.col-md-8
              select.form-control(
                ng-model="place"
                ng-options="elt.name for elt in places")

    .col-md-6
      div.form-group
        label.col-sm-4 {% trans "Shelf" %}
        div.col-md-8
          select.form-control(
            ng-model="shelf"
            ng-options="elt.fields.name for elt in shelfs")

      div.form-group
        label.col-sm-4 {% trans "Quantity" %}
        div.col-md-8
          select.form-control(
            ng-model="quantity_choice"
            ng-options="elt.name for elt in quantity_choices")

      div
          label.col-sm-4 {% trans "Price" %}
          div.col-md-8
            select.form-control(
              ng-model="price_choice"
              ng-options="elt.name group by elt.group for elt in price_choices"
            )

      div
          label.col-sm-4 {% trans "Creation date" %}
          div.col-md-8
            select.form-control(
              ng-model="date_created_sort"
              ng-options="elt.name group by elt.group for elt in date_created_sort_choices"
            )

          label.col-sm-4
          div.col-md-8
            input.form-control#default-input(
              ng-model="date_created"
              type="text"
              placeholder='{% trans "exple: juin 2020" %}'
            )
      div
          label.col-sm-4 {% trans "Sort order" %}
          div.col-md-8
            select.form-control(
              ng-model="order_by"
              ng-options="elt.name group by elt.group for elt in order_by_choices"
            )

      input(hidden="true", name="with_total_sells", value="true", data-comment="Set on the JS controller.")
      input(type="submit", hidden="true", onsubmit="validate()")

 .row
   .col-md-7(style="margin-top: 7px; margin-bottom: 7px")
     input.btn.btn-primary(value="{% trans 'Search' %}", ng-click="validate()", type="submit")

     if user.is_staff
       .btn-group
         button.btn.btn-info.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Action" %}
           span.caret

         ul.dropdown-menu
           li: a(href="#", ng-click="add_to_lists()", ng-show="selected", title='{% trans "Add the cards selected to basket(s)" %}'){% trans 'Add selection to baskets…' %}
           li: a(href="#", ng-click="set_supplier()", ng-show="selected", title='{% trans "Set the supplier for the selection" %}'){% trans 'Set supplier…' %}
           li: a(href="#", ng-click="set_shelf()", ng-show="selected", title='{% trans "Set the shelf for the selection" %}'){% trans 'Set shelf…' %}

     .btn-group
       button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Export" %}…
         span.caret

       ul.dropdown-menu
         li: a(href="/stock/export?query={{ 'query' | ng }}&format=txt&select=selection&publisher_id={{ 'publisher_pk' | ng}}&place_id={{ 'place.id' | ng}}&card_type={{ 'card_type' | ng}}&shelf_id={{ 'shelf.pk' | ng}}&distributor_id={{ 'distributor_id' | ng}}&quantity_choice={{ 'quantity_choice.id' | ng }}", ng-show="selected", title='{% trans "Export the selection to txt" %}'){% trans 'Selection - txt' %}
         li: a(href="/stock/export?query={{ 'query' | ng }}&format=csv&select=selection&publisher_id={{ 'publisher_id' | ng}}&place_id={{ 'place.id' | ng}}&card_type={{ 'card_type' | ng}}&shelf_id={{ 'shelf.pk' | ng}}&distributor_id={{ 'distributor_id' | ng}}&quantity_choice={{ 'quantity_choice.id' | ng }}", ng-show="selected", title='{% trans "Export the selection to csv" %}'){% trans 'Selection - csv' %}
         //li.divider(role="separator")
         //- li: a(href="/stock/export?format=csv&select=all", title='{% trans "Export the stock to csv" %}'){% trans 'Stock - csv (Excel, LibreOffice) (this may take a while)' %}

      .btn-group
        button.btn.btn-default(ng-click="toggle_images()", title='{% trans "Hide and show covers" %}')
          i.glyphicon.glyphicon-th-list

        a.btn.btn-default(role="button"
                          href="http://abelujo.cc/docs/view_stock/"
                          target="_blank",
                          title='{% trans "Read the documentation" %}')
          i.glyphicon.glyphicon-question-sign
       span &nbsp;
         if user.is_staff
            a(href="{% url 'card_create_manually' %}") {% trans "Add a card manually" %}


  .col-md-7
      .btn-group
        span.text-right(aria-label="page navigation")
           ul.pagination(ng-show="cards.length")
             li.page-item
               a.page-link(ng-click="firstPage()")  &laquo;
             li.page-item
               a.page-link(ng-click="previousPage()") <
             li.page-item
               a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})
             li.page-item
               a.page-link(ng-click="nextPage()") >
             li.page-item
               a.page-link(ng-click="lastPage()") &raquo;

      .btn-group
        select.form-control(ng-show="cards.length", ng-model="page_size", ng-options="it for it in page_sizes", style="width: 5em")
      div(id="message", ng-show="meta.message", ng-class="meta.message_status") {{ 'meta.message' | ng }}



 div(ng-show="! first_page_load && cards.length == 0 ") {% trans "No results" %}

 table.row-border.hover.table.table-condensed.table-striped(ng-show="cards.length != 0")
    thead
      th: input(type="checkbox", ng-click="toggleAll()")
      th(ng-show="show_images")
      th {% trans "Title" %}
      th {% trans "Price" %}
      th {% trans "Authors" %}
      th {% trans "Publishers" %}
      th {% trans "Supplier" %}
      th {% trans "Shelf" %}
      th {% trans "Quantity" %}
      th {% trans "In deposits" %}
      th {% trans "Places" %}
      th

    tbody
      tr(ng-repeat="card in cards")
        td: input(type="checkbox", ng-model="selected[card.id]")
        td(ng-show="show_images")
            .col-md-6(ng-show="show_images")
              img.myImg(ng-show="card.img", ng-src="{{ 'card.img' | ng }}")
        td
          .row
            .col-md-9
              div: a(href="{{ 'card.get_absolute_url' | ng }}") {{ 'card.title' | ng }}
              h6(ng-show="show_images")
                a(ng-show="card.details_url", href="{{ 'card.details_url' | ng }}", target="_blank") {% trans "See on" %} {{ 'card.data_source' |ng}}
              .row(ng-show="show_images")
               .col-md-10
                b isbn: 
                span {{ 'card.isbn' |ng}}
                div {% trans "Publication date" %}: {{ 'card.date_publication | date: "mediumDate"' | ng }}
                div(title='{% trans "Date de dernière modification, par exemple la date du dernier ajout en stock." %}') {% trans "Dernière modification" %}: {{ 'card.modified | date: "mediumDate"' | ng }}
                div(ng-show="show_images && card.fmt") {{ 'card.fmt' | ng }}

        td
          div {{ 'card.price_fmt' | ng}}

        td
          div {{ 'card.authors_repr' | ng }}
        td {{ 'card.pubs_repr' | ng }}
        td {{ 'card.distributor_repr' | ng }}
        td
          div(class="badge badge-secondary") {{ 'card.shelf' | ng }}
        td.text-right
          div {{ 'card.quantity' | ng }}
          div(ng-show="card.total_copies_sold", title='{% trans "Total number of copies sold, all time." %}') {% trans "sold" %}: {{ 'card.total_copies_sold' | ng }}
        td.text-right {{ 'card.qty_deposits' | ng }}
        td
          div(ng-show="card.places") {{ 'card.places' | ng }}
        td

          button(type="button", class="btn btn-default", data-toggle="modal", data-target="#reserveModal", id="{{ 'card.isbn' | ng }}", title="Réserver pour un client", onclick="save_isbn_for_reservation(this.id)")
             i.glyphicon.glyphicon-user

          a.btn.btn-warning(title='{% trans "Remember to command this card. Add it to the list for later." %}', ng-click="do_card_command(card.id)")
            i.glyphicon.glyphicon-shopping-cart
            span &nbsp; x
              span(id="command{{ 'card.id' | ng }}") {{ 'card.quantity_in_command' | ng }}

 .col-md-7
      .btn-group
        span.text-right(aria-label="page navigation")
           ul.pagination(ng-show="cards.length")
             li.page-item
               a.page-link(ng-click="firstPage()")  &laquo;
             li.page-item
               a.page-link(ng-click="previousPage()") <
             li.page-item
               a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})
             li.page-item
               a.page-link(ng-click="nextPage()") >
             li.page-item
               a.page-link(ng-click="lastPage()") &raquo;

      .btn-group
        select.form-control(ng-show="cards.length", ng-model="page_size", ng-options="it for it in page_sizes", style="width: 5em")



 script(type="text/ng-template", id="collectionModal.html")
    div.modal-header
      h3.modal-title {% trans "Add to basket(s)" %}

    div.modal-body
      div(ng-repeat="basket in baskets")
        span
          input(type="checkbox", ng-model="selected_baskets[basket.id]")
          label {{ 'basket.name' | ng}}

      button.btn.btn-primary(ng-click="ok()") OK


// ! Copied from searchresults, copied from elsewhere :(
div.modal(id="reserveModal")
  div.modal-dialog
    div.modal-content

      div.modal-header
        h4.modal-title Réserver
        button(type="button", class="close", data-dismiss="modal")

      div.modal-body
        h5 {% trans "Clients" %}
        input#clients-input(list="clients-select", onkeydown="if (event.keyCode == 13) validate_reservation()")
        datalist#clients-select
          for client in clients
            option(value="{{ client.repr }}", id="{{ client.id }}")

        button.btn.btn-success(type="button", onclick="validate_reservation()") OK

        br
        if reservations
          h5 {% trans "Ces clients ont réservé cette notice" %}:
          table.table.table-condensed
            for resa in reservations
              tr(id="#resa-{{ resa.client.id }}")
                td
                  h4 {{ resa.client.repr }} &nbsp;
                    a(href="{{ resa.client.url }}", target="_blank")
                      i.glyphicon.glyphicon-share
                td
                  if resa.client.mobilephone
                    span {{ resa.client.mobilephone }} 
                      i.glyphicon.glyphicon-phone
                td
                  button(type="button", onclick="cancel_reservation({{ resa.client.id }})", name="cancel-reservation", alt="Cancel reservation")
                    i.glyphicon.glyphicon-remove

// for save_isbn_for_reservation
// important to run this last, so CSS selectors select something.
script(type='text/javascript', src="{% static 'search/js/card.js' %}")

{% endblock content %}
