// Copyright 2014 - 2022 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-controller="dashboardController", ng-cloak="stats")
  .col-lg-6
    .row.panel.panel-info
      h3.panel.panel-heading {% trans "Composition of the stock" %}
      div.panel.panel-body(ng-show="stats")
        table.table.table-condensed

         tbody
          tr
            td
              h4 {% trans "Number of titles" %}
              small {% trans "Le nombre de titres différents, ou notices, en stock. Livres uniquement." %}
            td: h4 {{'stats.nb_book_titles.value'|ng }}
          tr
            td
              h4 {% trans "Number of books" %}
              small {% trans "Le nombre total de livres physiques en stock." %}
            td: h4 {{'stats.nb_in_stock.value'|ng }}
          tr
            td
              h4 {% trans "Number of other products" %}
              small {% trans "Le nombre d'autres objets en stock qui ne sont pas des livres." %}
            td: h4{{'stats.nb_non_book_products.value'|ng}}
          tr
            td(title='{% trans "Cost of each card by its quantity in stock, rounded to the upper decimal." %}')
              h4 {% trans "Value of the stock" %}
              small {% trans "(valeur mise à jour toutes les 2 heures)" %}
            td
              h4 {{'stats.total_cost.value_fmt'|ng }}
          tr
            td(title='{% trans "Cost of each card by its quantity in stock, rounded to the upper decimal." %}')
              h4 {% trans "Value of the stock" %} {% trans "excl. tax" %}
              small {% trans "(valeur mise à jour toutes les 2 heures)" %}
            td
              h4 {{'stats.total_cost_excl_tax.value_fmt'|ng }}

    .row.panel.panel-info
      h3.panel.panel-heading {% trans "Next deposits to pay" %}
      div.panel.panel-body
       div(ng-show="deposits.length")
        table.table.table-striped
          thead
            tr
              th {% trans "Deposit" %}
              th {% trans "Supplier" %}
              th {% trans "due date" %}
          tbody
            tr(ng-repeat="depo in deposits")
              th {{ 'depo.name' | ng }}
              th {{ 'depo.distributor' | ng }}
              th {{ 'depo.due_date' | ng }}

       em(ng-hide="deposits.length") {% trans "No data" %}

    .row.panel.panel-info
      h3.panel.panel-heading {% trans "Comfort of the stock" %}
      div.panel.panel-body
        div(ng-show="stats")
            div {% trans "Nb cards with no copy" %}: {{'stats.nb_cards_no_stock.value' |ng}}
            div {% trans "Nb cards with one copy" %}: {{'stats.nb_cards_one_copy.value' |ng }}
        div(id="chartNoStock")

  .col-lg-6
    .row.panel.panel-info
      h3.panel.panel-heading {% trans "Revenue, monthly" %}: {{'sells_month.revenue_fmt'|ng}}
      div.panel.panel-body

        .col-md-4
          p.input-group
            input.form-control(
              title='{% trans "Choose another month to see its stats" %}'
              type='text'
              uib-datepicker-popup='{{"revenue_date_format"|ng}}'
              ng-model="revenue_date"
              ng-change="revenue_change_month()"
              is-open="revenue_popup_status.opened"
              datepicker-options="datepicker_revenue_options"
            )
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='revenue_open_datepicker($event)')
                i.glyphicon.glyphicon-calendar

        .col-md-3
          div {% trans "total cards sold" %}: {{'sells_month.nb_cards_sold'|ng}}
          div {% trans "nb of sells" %}: {{'sells_month.nb_sells'|ng}}


        .col-md-5
          div {% trans "mean" %}: {{'sells_month.mean_fmt'|ng}}



{% endblock content %}