// Copyright 2014 - 2022 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.

{% extends "base.jade" %}
{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}

span
  a(href="{% url 'history_sells_month' previous_month %}")
    button(style="margin-bottom: 5px") &larr; {{ previous_month_obj | date:'F' | capfirst }}
  span  &nbsp;
if day.year < now.year or day.month < now.month
  span
    a(href="{% url 'history_sells_month' next_month %}")
      button {{ next_month_obj | date:'F' | capfirst }} &rarr;

.row
  .col-lg-10
    ul.nav.nav-tabs
      li.active(role="presentation")
        a {% trans "Sells" %}
      li(role="presentation"): a(href="{% url 'history_entries_month' day|date:'Y-m'  %}") {% trans "Entries" %}

span
  span(style="font-size: 36pt; font-size: 500; margin-right: 1em; vertical-align: middle;") {{ day | date:'F Y' | title }}
  span
    .btn-group
      .dropdown
         button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Export" %}
           span.caret
         ul.dropdown-menu
           li
             a(href="/history/sells/month/{{day.year}}-{{day.month}}/export?fileformat=txt", title='') {% trans "All sells of this month" %} - txt
             a(href="/history/sells/month/{{day.year}}-{{day.month}}/export?fileformat=csv", title='') {% trans "All sells of this month" %} - csv
             a(href="/history/sells/month/{{day.year}}-{{day.month}}/export?fileformat=csv&report=totalperday", title='') {% trans "Earnings per day" %} - csv


.row
  .col-md-3.panel.panel-info
    div.panel-heading {% trans "Cash register" %}
    div.panel-body {{ sells_data.total_price_sold_fmt }}

  .col-md-3.panel.panel-info
    div.panel-heading {% trans "Articles sold" %}
    div.panel-body {{ sells_data.total_cards_sold }}

  .col-md-3.panel.panel-info
    div.panel-heading {% trans "Cash register movements" %}
    div.panel-body {{ sells_data.nb_sells }}

.row
  .col-md-4
    table.table.table-striped
        {% for it in sells_data.data reversed %}
        tr
          td
            if it.weekday == 6
              span(style="color: grey;") {{ it.date_obj | date:'l' }} 
            else
              span {{ it.date_obj | date:'l' }} 
          td
            a(href="{% url 'history_sells_day' it.date %}") {{ it.date }}
          td.text-right {{ it.total_price_sold_fmt }}
        {% endfor %}

  .col-md-4
    h4 {% trans "Best sells" %}
    h5 {% trans "Books" %}
    table.table
      {% for it in sells_data.best_sells.book %}
      tr
        td
          a(href="{{it.0.get_absolute_url}}") {{ it.0.title }}
        td {{ it.1 }}
      {% endfor %}

    {% for other in sells_data.best_sells.items %}
    {% if other.0 != 'book' %}
    {% if other.1 %}
    h5 {{ other.0 }}
    table.table
      {% for it in other.1 %}
      tr
        td
          a(href="{{it.0.get_absolute_url}}") {{ it.0.title }}
        td {{ it.1 }}
      {% endfor %}
    {% endif %}
    {% endif %}
    {% endfor %}

{% endblock content %}
