// Copyright 2014 - 2022 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% load staticfiles %}

{% block content %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}


h3 {% trans "Search for new titles" %}

div(ng-cloak, ng-show="cards", ng-controller="searchResultsController")

 div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

 .row
   form(ng-submit="validate()")
    div
      div#defaultdatasource(hidden) {{ default_datasource }}
      div.col-md-2
        select.form-control(ng-model="datasource", ng-options="elt.name for elt in datasources", ng-change="saveDatasource()")
      div.col-md-4
       div.input-group
        input.form-control#default-input(
          ng-model="query"
          type="text"
          placeholder='{% trans "Search on title, authors or isbn" %}'
        )
        span.input-group-btn
          button.btn.btn-primary#submit-button(ng-click="validate()", type="submit", placeholder="{% trans 'Key words, or ean/isbn' %}") {% trans "Search" %}
      div.col-md-4
        if user.is_staff
          span  {% trans "or" %}: 
              a(href="{% url 'card_create_manually' %}") {% trans "Add a card manually" %}

 .row(ng-show="cards.length != 0", style="padding-top: 5px")
    .col-md-10
     if user.is_staff
       .btn-group
         button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Action" %}
           span.caret

         ul.dropdown-menu
          li: a(href="#", ng-click="add_to_command()", title='{% trans "Mark this card to command." %}'){% trans 'Add to the command…' %}

          li: a(href="#", ng-click="open_list_select()", title='{% trans "Add the cards selected to basket(s)" %}'){% trans 'Add to list…' %}

          li: a(href="#", ng-click="open_inv_select()", title='{% trans "Add the cards selected to an ongoing inventory" %}') {% trans "Add to inventory…" %}

     .btn-group
       button.btn.btn-default(ng-click="toggle_images()", title='{% trans "Hide and show covers" %}')
         i.glyphicon.glyphicon-th-list

       a.btn.btn-default(role="button"
                         href="http://abelujo.cc/docs/new_card/"
                         target="_blank",
                         title='{% trans "Read the documentation" %}')
          i.glyphicon.glyphicon-question-sign



    .col-md-2
       nav(style="float: right;")
          ul.pagination
            li.mouse-pointer: a(ng-click="previous_results()", aria-label="Previous", title="{% trans 'Previous results' %}")
              span(aria-hidden="true") &laquo;
            li.mouse-pointer: a(ng-click="next_results()", aria-label="Next", title="{% trans 'Next results' %}")
              span(aria-hidden="true") &raquo;

  div.middle(ng-cloak, ng-hide="cards.length"): em {% trans "Search cards by key words or by isbn." %}

 div(id="message", ng-show="data.message", ng-class="data.message_status") {{ 'data.message' | ng }}

 table.table.table-striped(ng-cloak, ng-show="cards.length != 0")
    thead
      th: input(type="checkbox", ng-click="toggleAll()")
      th(ng-show="show_images")
      th {% trans "Title" %}
      th {% trans "Authors" %}
      th {% trans "Publishers" %}
      th {% trans "Supplier" %}
      th {% trans "Price" %}
      th

    tbody
      tr#card(ng-repeat="card in cards")

        td
          input(type="checkbox", ng-model="card.selected")
        td(ng-show="show_images")
            .col-md-6(ng-show="show_images")
              img.myImg(ng-show="card.img", ng-src="{{ 'card.img' | ng}}", alt="cover image")
        td
              span.label.label-as-badge.label-default(
                ng-class="{'label-success': card.in_stock > 0, 'label-danger': card.in_stock < 0}"
                ng-show="card.in_stock != null"
                title='{% trans "This card is already in your stock" %}')
                  {{'card.in_stock'|ng}}
              span
                //- a(href="/stock/card/quickcreate/{{ 'card.isbn' | ng }}", target="_blank") &nbsp; {{ 'card.title' | ng }}
                a(ng-show="details_url_for(card)", href="{{ 'details_url_for(card)' | ng }}", target="_blank") &nbsp; {{ 'card.title' | ng }}
                span(ng-hide="details_url_for(card)")  {{ 'card.title' | ng }}

              div(ng-show="show_images && card.isbn")
                    b isbn: 
                    span {{ 'card.isbn' |ng}}

              div(ng-show="show_images") {{ 'card.date_publication' | ng }}

              div(ng-show="show_images && card.fmt") {{ 'card.fmt' | ng }}

              div(
                ng-class="{'text-danger': is_not_available(card.availability)}"
                ng-show="show_images") {{ 'card.availability' | ng }}

        td
          div {{ 'card.authors_repr' | ng }}
        td
          div{{ 'card.pubs_repr' | ng }}
        td
          div(ng-show="card.distributor_repr") {{ 'card.distributor_repr' | ng }}
          div(ng-hide="card.distributor_repr", style="color: grey", title="Cette donnée n'est pas disponible dans les résultats de recherche. Vous avez besoin d'un abonnement supérieur (FEL complet, Electre).") {% trans "not available" %} &nbsp;
            i.glyphicon.glyphicon-question-sign()

        td: div {{ 'card.price_fmt'|ng }}&nbsp;
        td
          if user.is_staff
            div.row
              button.btn.btn-primary(ng-click="create_and_add(card)", title='{% trans "Add to your stock" %}', target="_blank") {% trans "Add…" %}
              div
                //div isbn: {{ 'card.isbn' | ng }}
                button(type="button", class="btn btn-default", data-toggle="modal", data-target="#reserveModal", id="{{ 'card.isbn' | ng }}", title="Réserver pour un client", onclick="save_isbn_for_reservation(this.id)")
                  i.glyphicon.glyphicon-user
                button(type="button", class="btn btn-warning", id="command-{{ 'card.isbn' | ng }}", title="Command", ng-click="do_card_command(card.isbn)")
                    i.glyphicon.glyphicon-shopping-cart

          //div.row
            button.btn(ng-click="create_and_command_client(card)", title='{% trans "Command for a client" %}') {% trans "Command…" %}

 nav(style="float: right;", ng-show="cards.length != 0")
          ul.pagination
            li.mouse-pointer: a(ng-click="previous_results()", aria-label="Previous", title="{% trans 'Previous results' %}")
              span(aria-hidden="true") &laquo;
            li.mouse-pointer: a(ng-click="next_results()", aria-label="Next", title="{% trans 'Next results' %}")
              span(aria-hidden="true") &raquo;

 div(ng-show="no_results")
  .row
   .col-md-2
   .col-md-4
      div.panel.panel-info
        div.panel-body
         div {% trans "No results !" %}

 script(type="text/ng-template", id="SearchResultsModal.html")
    div.modal-header
      h3.modal-title {% trans "Add to basket(s)" %}

    div.modal-body
      div(ng-repeat="basket in baskets")
        span
          input(type="checkbox", ng-model="selected_baskets[basket.id]")
          label {{ 'basket.name' | ng}}

      button.btn.btn-primary(ng-click="ok()") OK

 script(type="text/ng-template", id="SearchResultsAddToInventoryModal.html")
    div.modal-header
      h3.modal-title {% trans "Choose an inventory" %}

    div.modal-body
     .row
        .col-lg-9
          select.form-control(ng-model="inventory"
               ng-options="it.name for it in inventories")

        .col-lg-3

            button.btn.btn-primary(ng-click="ok()") OK

// ! Copied from card_show :(
div.modal(id="reserveModal")
  div.modal-dialog
    div.modal-content

      div.modal-header
        h4.modal-title Réserver
        button(type="button", class="close", data-dismiss="modal")

      div.modal-body
        h5 {% trans "Clients" %}
        input#clients-input(list="clients-select", onkeydown="if (event.keyCode == 13) validate_reservation()")
        datalist#clients-select
          for client in clients
            option(value="{{ client.repr }}", id="{{ client.id }}")

        //- select#clients-select
          for client in clients
            option(id="{{ client.id }}") {{ client.repr }}
        button.btn.btn-success(type="button", onclick="validate_reservation()") OK

        br
        if reservations
          h5 {% trans "Ces clients ont réservé cette notice" %}:
          table.table.table-condensed
            for resa in reservations
              tr(id="#resa-{{ resa.client.id }}")
                td
                  h4 {{ resa.client.repr }} &nbsp;
                    a(href="{{ resa.client.url }}", target="_blank")
                      i.glyphicon.glyphicon-share
                td
                  if resa.client.mobilephone
                    span {{ resa.client.mobilephone }} 
                      i.glyphicon.glyphicon-phone
                td
                  button(type="button", onclick="cancel_reservation({{ resa.client.id }})", name="cancel-reservation", alt="Cancel reservation")
                    i.glyphicon.glyphicon-remove


// important to run this last, so CSS selectors select something.
script(type='text/javascript', src="{% static 'search/js/card.js' %}")

{% endblock content %}