// Copyright 2014 - 2022 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

style.
  @media print {
    .noprint {
      display: none;
    }
    .onlyprint {
      display: block;
    }
  }

  @media screen {
    .noprint {
      display: block;
    }
    .onlyprint {
      display: none;
    }
  }

h3.noprint {% trans "Selling cards" %}
h3.onlyprint {% if bookshop %} {{ bookshop.name }} {% endif %}
div.ng-cloak(ng-controller="sellController")

  //- div.onlyprint
    div Hello print \o/

  h4.onlyprint {{ 'date | date: "yyyy-MM-dd HH:mm"' | ng }}

  div.noprint
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

  form.noprint(method='post', novalidate)
      .row
        .col-md-3
          form
            p.input-group
              input.form-control(
                type='text'
                uib-datepicker-popup='{{"format"|ng}}'
                ng-model='date'
                is-open='opened'
                datepicker-options='dateOptions'
                ng-required='true'
                close-text='Close'
              )
              span.input-group-btn
                button.btn.btn-default(type='button', ng-click='open($event)')
                  i.glyphicon.glyphicon-calendar

        .col-md-4
         form
            p.input-group
             input.nullable.form-control#client-input(
              type='text'
              //- typeahead-loading="loadingCards"
              ng-model='client_selected'
              uib-typeahead='client.__repr__ for client in getClients($viewValue)'
              typeahead-min-length="3"
              typeahead-wait-ms="200"
              typeahead-on-select="select_client($item)"
              title="{% trans 'Use TAB to validate your choice, Enter to proceed.' %}"
              id="client-input"
              autocomplete="off"
              placeholder='{% trans "Search clients" %}'
              )
             span.input-group-btn
               a.btn.btn-default(type='button', href='/databasesearch/client/add/', title='{% trans "Create" %} {% trans "client" %}', target='_blank')
                 i.glyphicon.glyphicon-plus
               a.btn.btn.btn-default(role='button', title='{% trans "Create a bill for this client" %}', value="{% trans 'Bill' %}", ng-click="create_bill()", style="margin-left:1em;")
                    i.glyphicon.glyphicon-file
               a.btn.btn.btn-default(role='button', title='{% trans "Lier à un bon de commande" %}', value="{% trans 'Bill' %}", ng-click="toggle_show_bon_de_commande()", style="margin-left:1em;")
                    i.glyphicon.glyphicon-paperclip

        .col-md-3
         .btn-group
           button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") {% trans "Export" %}
             span.caret
           ul.dropdown-menu
             li: a(href="#", ng-click="export_csv()") csv

          input.btn.btn.btn-default(type='button',value="{% trans 'Cancel' %}", ng-click="cancelCurrentData()")
         .btn-group
                a.btn.btn-default(role="button"
                                href="http://abelujo.cc/docs/sell/"
                                target="_blank",
                                ng-click="focus_input()",
                                title='{% trans "Read the documentation" %}')
                  i.glyphicon.glyphicon-question-sign


      {% if show_selling_places %}
      .row
        .col-md-3
          form
            label {% trans "Selling place" %}
            select.form-control(
                ng-model="place"
                ng-options="it.name for it in places"
          )
      {% endif %}

      .row.noprint
        .col-md-4
          div(ng-show="show_bon_de_commande")
            form
              input.nullable.form-control(type="text", placeholder="bon de commande ID", ng-model="bon_de_commande_id")

      .row.noprint
        .col-md-12
          //- div client has reservations? {{ 'client' | ng }}
          div.alert.alert-info(role="alert", ng-show="client.ongoing_reservations")
            div(ng-show="client.ready_reservations")
              a(href="{{ 'client.url' | ng }}", target="_blank") {{ 'client.repr' | ng }}
              span  &nbsp; {% trans "a des réservations de disponibles" %}({{ 'client.ready_reservations' | ng }}/ {{ 'client.ongoing_reservations' | ng }})
              button.btn(ng-click="import_reservations(0)") {% trans "Importer" %}
              button.btn(ng-click="import_reservations(1)") {% trans "Tout Importer" %}
            div(ng-hide="client.ready_reservations")
              a(href="{{ 'client.url' | ng }}", target="_blank") {{ 'client.repr' | ng }}
              span  &nbsp; {% trans "a des réservations en cours mais aucune n'est prête" %} ({{ 'client.ready_reservations' | ng }} / {{ 'client.ongoing_reservations' | ng }})
              button.btn(ng-click="import_reservations(1)") {% trans "Importer quand même" %}

      .row.noprint
        .col-md-12
          p.input-group
           form()
            input.nullable.form-control(
              type='text'
              typeahead-loading="loadingCards"
              ng-model='copy_selected'
              uib-typeahead='copy.repr for copy in getCards($viewValue)'
              typeahead-min-length="3"
              typeahead-wait-ms="300"
              typeahead-on-select="add_selected_card($item)"
              title="{% trans 'Use TAB to validate your choice, Enter to proceed.' %}"
              id="default-input"
              autocomplete="off"
              placeholder='{% trans "Search any isbn, search by keywords in your stock" %}'
            )
            i.glyphicon.glyphicon-search(ng-show='loadingCards')

  .row.noprint(style="margin-left: 1em")
          h3 {{ 'getTotalCopies() ' | ng }} {% trans "titles selected." %}
            div(ng-show="cards_selected.length") {% trans "Total:" %} {{ 'total_price ' | ng }} {{ 'cards_selected[0].currency' | ng }}
          span Payer
            input(type="number", step="0.01", ng-model="total_payment_1")
            span &nbsp; en

          span(ng-repeat="payment in payment_means")
            input.btn.btn-success(id="payment", type="submit", value="{{ 'payment.name' | ng }}", ng-click="sellCardsWith(payment)") {{ 'payment.name' | ng }}

  .row.noprint(ng-show="show_payment_2", style="margin-left: 1em")
          span
            span(ng-show="total_payment_2 > 0") {% trans "Payer" %}
              input(type="number", step="0.01", ng-model="total_payment_2")
              span &nbsp; {% trans "en" %}
            span(ng-show="total_payment_2 < 0", style="margin-right: 3em") {% trans "Rendre" %} {{ '0 - total_payment_2' | ng }}

          span(ng-repeat="payment in payment_means")
            input.btn.btn-success(id="payment_2", type="submit", value="{{ 'payment.name' | ng }}", ng-click="sellCardsWith(payment)") {{ 'payment.name' | ng }} &nbsp;
          i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_payment_2()", style="margin-left: 1em")

  .row.onlyprint
    h3 Total TTC: {{ 'total_price' | ng }} {{ 'cards_selected[0].currency' | ng }}

  .row.noprint(ng-show="cards_selected.length > 0")
          .col-md-5
          .col-md-1
          .col-md-1
            select(
              ng-options="elt.name for elt in preferences.sell_discounts_with_labels"
              title='{% trans "Set this discount to all" %}'
              ng-model="discounts.global_discount"
              ng-change="discount_global()")

      .row(ng-show="isbns_not_found", ng-repeat="isbn in isbns_not_found")
        h4.col-md-4(style="background-color: yellow") {{ 'isbn' | ng }} {% trans "was NOT FOUND" %}.
          a(target="_blank", href="/{{ 'language' | ng }}/stock/card/create") &nbsp;{% trans "Click to create." %}
        h4.col-md-1
            i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_isbn_not_found($index)", style="float: right;")

      .row(ng-show="cards_selected", ng-repeat="card in cards_selected")
        h4.col-md-4
          a.noprint(target="_blank", href="{{ 'card.get_absolute_url' | ng }}") {{ 'card.title' | ng }}
          div.onlyprint {{ 'card.title | limitTo:40' | ng }}

        //- .col-md-3
          i.glyphicon.glyphicon-warning-sign(
            ng-show="{% verbatim %} card.ambiguous_sell {% endverbatim %}"
            title="{% trans 'There is a conflict with deposits.' %}")
          //- i.glyphicon.glyphicon-exclamation-s

        .col-md-2.noprint
            p.input-group
                label.sr-only {% trans "Price" %}
                input.form-control(
                  type="number", step="0.1", min=0
                  value="{{card.price_sold}}"
                  ng-model="{% verbatim %} card.price_sold {% endverbatim %}"
                  ng-change="{% verbatim %} updateTotalPrice() {% endverbatim %}"
                )
                span.input-group-addon {{ 'card.currency' | ng }}
                div(ng-show="card.price_alert.price_changed") {% trans "ancien prix:" %} &nbsp; {{ 'card.price_alert.old_price' | ng }}
            p.onlyprint {{ card.price_sold }}

        .col-md-2.onlyprint {{ 'card.price_sold' | ng }} {{ 'card.currency' | ng }}

        .col-md-1.noprint
          // discounts for each card: removed. Only use the one that applies to all, do two sells if needed.
          div(style="margin-top: 5px") {{ 'discounts.global_discount.name' | ng }}

        .col-md-2.noprint
            p.input-group
                label.sr-only {% trans "Quantity" %}
                span.input-group-addon X
                input.form-control(
                  type="number", min=-9, max=99
                  ng-model="{% verbatim %} card.quantity_sell {% endverbatim %}"
                  ng-change="{% verbatim %} updateTotalPrice() {% endverbatim %}"
                )

        .col-md-2.noprint
          span stock: {{ 'card.quantity' | ng }} => {{ 'card.quantity - card.quantity_sell' | ng }}
          span &nbsp;
            a.btn.btn-default(title='{% trans "Remember to command this card. Add it to the list for later." %}', href="#", ng-click="do_card_command(card.id)")
              i.glyphicon.glyphicon-shopping-cart
              span &nbsp; x
                span(id="command{{ 'card.id' | ng }}") {{ 'card.quantity_in_command' | ng }}

        .col-md-1.noprint
            i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection($index)", style="float: right;")

      div.onlyprint
        div --------------
        div Rappel TVA: livres 5,50€, autres 20,0%


script.
  window.addEventListener("beforeprint", function(event) {
    console.log("Hello print");
  });

br
div.onlyprint {% trans "Merci et à bientôt !" %}
{% if bookshop %}
div.onlyprint  {{ bookshop.website }}
div.onlyprint  {{ bookshop.mobilephone }}
div.onlyprint  {{ bookshop.telephone }}
div.onlyprint  {{ bookshop.address1 }} {{ bookshop.address2 }} {{ bookshop.zip_code }} {{ bookshop.city }}

{% endif %}

{% endblock content %}