// Copyright 2014 - 2022 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-cloak, ng-controller="basketToCommandController")

  div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

  .col-md-12
    h1
      a(href="{{ 'distributor.get_absolute_url' | ng }}") {{ 'distributor.repr' | ng }}
    .row
      .col-md-6
          table.table.table-condensed
            tbody
                tr
                  td {% trans "Number of titles" %}
                  td.text-right {{ 'totals.total_cards' | ng }}
                tr
                  td {% trans "Copies to command" %}
                  td.text-right {{ 'totals.total_copies' | ng }}
                tr
                  td {% trans "total" %}
                  td.text-right {{ 'totals.total_price_fmt' |ng}}

      .col-md-6
        //- table.table.table-condensed
          tbody
                tr
                  td
                    | {% trans "Total" %}
                    | {# Translators: excl. tax: price excluding tax (french: HT). #}
                    | {% trans "excl. tax" %}

                  td.text-right todo  €
                tr
                  td {% trans "excl. vat" %}
                  td.text-right todo  {{ 'get_total_price_excl_vat()' |ng}}  €
                tr
                  td {% trans "total discounted excl. vat" %}
                  td.text-right  todo {{ 'get_total_price_discounted_excl_vat()' |ng}} {{ 'currency' | ng }}


    div
     .col-md-7
            .row
             a.my-black-link(href="")
              h4.col-md-6.myanchor(id="")
               a(href="mailto:{{'distributor.email'|ng}}?subject={% trans 'New command' %}&body={% trans 'Hello' %} %0D%0A %0D%0A {{ 'body' | ng }}", ng-click="get_body()")
                i.glyphicon.glyphicon-envelope(title="{% trans 'Write to' %}  {{ 'distributor.name' | ng}} {% trans ' with your desktop mail client' %}")

               div.btn-group
                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false") {% trans "Action" %}
                   span.caret
                 ul.dropdown-menu
                   li: a(ng-click="empty()") {% trans "Remove all" %}

               div.btn-group
                button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}") {% trans "Export" %}
                   span.caret
                 ul.dropdown-menu
                   li: a(href="/baskets/1/export?format=txt&report=simplelisting&distributor_id={{ 'distributor.id' | ng}}", title='{% trans "Export the list of all cards to command in txt format." %}') {% trans "Listing" %} - txt

                   li: a(href="/baskets/1/export?format=csv&report=simplelisting&distributor_id={{ 'distributor.id' | ng}}", title='{% trans "Export the list of all cards to command in a csv, suitable for LibreOffice and to give to other services, like Dilicom." %}') {% trans "isbn and quantity" %} - csv (Dilicom)

                   li: a(href="/baskets/1/export?format=pdf&report=listing&barcodes=true&distributor_id={{ 'distributor.id' | ng}}", title='{% trans "Export the list of all cards to command in a pdf." %}') {% trans "pdf with barcodes" %}

               button.btn.btn-success(ng-click="validate_command()",
                 title='{% trans "The command was passed, we`ll wait to receive it." %}') {% trans "Ok" %}

               .btn-group
                 a(href="http://abelujo.cc/docs/commands/", target="_blank"): button.btn.btn-default(title='{% trans "Read the documentation" %}')
                    i.glyphicon.glyphicon-question-sign

                 a(ng-click="toggle_images()", title='{% trans "Hide and show covers (d)" %}'): button.btn.btn-default
                   i.glyphicon.glyphicon-th-list

     .col-md-5
       form
        .col-md-12
          p.input-group
            input.nullable.form-control#default-input(
              type='text'
              typeahead-loading="loadingCards"
              ng-model='copy_selected'
              uib-typeahead='copy.repr for copy in getCards($viewValue)'
              typeahead-min-length="3"
              typeahead-wait-ms="300"
              typeahead-on-select="add_selected_card($item)"
              title="{% trans 'Use TAB to validate your choice, Enter to proceed.' %}"
              id="default-input"
              placeholder='{% trans "Search any isbn, search by keywords in your stock" %}'
            )

            span.input-group-btn
              button.btn.btn-default(type='button')
                i.glyphicon.glyphicon-search



    .row
           .btn-group
              span.text-right(aria-label="page navigation")
                   ul.pagination(ng-show="true", ng-cloak)
                     li.page-item
                       a.page-link(ng-click="firstPage()")  &laquo;
                     li.page-item
                       a.page-link(ng-click="previousPage()") <
                     li.page-item
                       a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})
                     li.page-item
                       a.page-link(ng-click="nextPage()") >
                     li.page-item
                       a.page-link(ng-click="lastPage()") &raquo;


    .row
          table.table.table-condensed.table-striped
              thead
                th(ng-show="show_images")
                th {% trans "Title" %}
                th {% trans "Author" %}
                th {% trans "Publisher" %}
                th.text-right {% trans "Price" %}
                th.text-right {% trans "With discount" %} {{ 'distributor.discount' | ng}}
                th.text-right {% trans "Quantity left" %}
                th.text-right {% trans "To command" %}
              tbody
                tr(ng-repeat="card in cards")
                  td(ng-show="show_images")
                    .col-md-6(ng-show="show_images")
                      img.myImg(ng-show="card.img", ng-src="{{ 'card.img' | ng }}")

                  td.col-md-6
                    span(ng-hide="card.isbn", title="Cette notice n'a pas d'ISBN. Elle ne peut pas être commandée via Dilicom.")
                      i.glyphicon.glyphicon-warning-sign &nbsp;
                    span: a(href="{{ 'card.get_absolute_url' | ng}}") {{ 'card.title' | ng }}
                    div(ng-show="show_images") {{ 'card.isbn' | ng }}

                  td.col-md-1 {{ 'card.authors_repr' | ng }}
                  td.col-md-1 {{ 'card.pubs_repr' | ng }}
                  td.col-md-1.text-right {{ 'card.price_fmt' |ng }}
                  td.col-md-1.text-right {{ 'card.price_discounted_fmt' |ng }}
                  td.col-md-1.text-right {{ 'card.quantity' |ng }}
                  td.col-md-1
                    input.my-number-input(type="number", min=0, max=99,
                      ng-model="card.basket_qty"
                      ng-change="save_quantity($index)")
                    i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection(dist_name, $index)", style="padding-left: 1em;", title='{% trans "Remove from list" %}')


    .row
           .btn-group
              span.text-right(aria-label="page navigation")
                   ul.pagination(ng-show="true", ng-cloak)
                     li.page-item
                       a.page-link(ng-click="firstPage()")  &laquo;
                     li.page-item
                       a.page-link(ng-click="previousPage()") <
                     li.page-item
                       a.page-link Page {{ 'page' | ng }} / {{ 'meta.num_pages' | ng }} ({{ 'meta.nb_results' | ng }})
                     li.page-item
                       a.page-link(ng-click="nextPage()") >
                     li.page-item
                       a.page-link(ng-click="lastPage()") &raquo;


  // we'll use the modal shortly !
  script(type="text/ng-template", id="commandModal.html")
    div.modal-header
      h3.modal-title {% trans "Command" %}
      div {% trans "The cards are grouped by supplier. Please check the list and confirm." %}

    div.modal-body
      div(ng-repeat="card in cards")
        h4 {% trans "Supplier" %}: {{ 'distributor.name' | ng }}
        div(ng-repeat="card in cards")
          div {{'card.title'|ng}}

  //- button.btn.btn-primary(ng-click="open('lg')") {% trans 'Command…' %}

{% endblock %}