// Copyright 2014 - 2022 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.

// You should have received a copy of the GNU Affero General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
!!! 5

{% load i18n %}
{% load staticfiles %}
{% load ngfilter %}

html(ng-app="abelujo")
  head
    link(rel="icon", href="{% static 'favicon.ico' %}")
    // warning: also set in gulpfile.js
    link(rel='stylesheet', type='text/css', href='{% static "search/style.css" %}')
    link(rel='stylesheet', type='text/css', href='{% static "css/build/vendor.css" %}')

    script(defer, src="https://cdn.jsdelivr.net/npm/notiflix@2.7.0/dist/notiflix-aio-2.7.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js")
    script(src="https://unpkg.com/htmx.org@1.4.0")
    script(src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js")

    //- script(ng-src="{% static 'app.js' %}")
    script(type='text/javascript', src="{% static 'search/js/abelujo-js.js' %}")
    script(type='text/javascript', src="{% static 'prelude-browser-min.js' %}")
    script(type='text/javascript', src="{% static 'date-fr-FR.js' %}")

    script(type='text/javascript', src="{% static 'js/build/vendor.js' %}")
    script(type='text/javascript', src="{% static 'js/build/abelujo.js' %}")
    script(type='text/javascript', src='{% url "django.views.i18n.javascript_catalog" %}')
    title {% block pagetitle %} {% endblock %}

  body.container-fullwidth(ng-controller="navbarController", style="padding-top: 60px;")
   nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top.container-fluid(role="navigation")
      div.navbar-collapse
        ul.nav.navbar-nav
          li
            button(href="#menu-toggle", class="slidebar-toggle", id="menu-toggle", onclick="toggleMenu()", title="Cacher le menu. Raccourcis: Control-gauche/droite", style="margin-top: 9px")
              // XXX: menu toggle not working on Chrome 87
              i.glyphicon.glyphicon-menu-hamburger

        ul.nav.navbar-nav
          li
            a Abelujo
          li.push-right#dashboard(href="#")
            a(href='{% url "stats" %}') {% trans "Statistics" %} 
              i.glyphicon.glyphicon-stats

          li.dropdown.push-right
            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", title='{% trans "Access everything on the database" %}') {% trans "Pages" %}
              span.caret
            {% get_current_language as LANGUAGE_CODE %}
            ul.dropdown-menu
                li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/catalogue-selection') {% trans "Sélection du libraire" %}
                if FEATURE_EXCLUDE_FOR_WEBSITE
                  li.divider(role="separator")
                  li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/catalogue-excluded') {% trans "Livres exclus du site vitrine" %}
                li.divider(role="separator")
                li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/cards-without-eans') {% trans "Cards without EANs" %}

          if user.is_staff
           li.dropdown.push-right
            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", title='{% trans "Access everything on the database" %}') {% trans "Database" %}
              span.caret
            {% get_current_language as LANGUAGE_CODE %}
            ul.dropdown-menu
                li(href="#")
                  a(href='/{{ LANGUAGE_CODE }}/stock/card/create') {% trans "Add a card manually" %}
                li.divider(role="separator")
                //li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/databasesearch/place', title='{% trans "List and edit the bookshop\'s places" %}') {% trans "Places" %}
                li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/databasesearch/card') {% trans "Card" %}
                li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/databasesearch/cardtype') {% trans "Card type" %}
                li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/databasesearch/shelf', title='{% trans "List and edit the shelves" %}') {% trans "Shelves" %}
                li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/databasesearch/distributor') {% trans "Distributors" %}
                li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/databasesearch/publisher') {% trans "Publishers" %}
                li.divider(role="separator")
                li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/databasesearch/client') {% trans "Clients" %}
                // li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/reservations') {% trans "Reservations" %}

                li.divider(role="separator")
                li(href="#")
                    a(href='/{{ LANGUAGE_CODE }}/database') {% trans "All" %}

        form.navbar-form.navbar-left
          .form-group
            input.form-control#navbar-input(
              style="background-color: #F7F7F9"
              typeahead-loading="loadingCards"
              ng-model='copy_selected'
              uib-typeahead='copy.repr for copy in getCards($viewValue)'
              typeahead-min-length="3"
              typeahead-wait-ms="300"
              typeahead-on-select="go_to_card($item)"
              title="{% trans 'Use TAB to validate your choice, Enter to proceed.' %}"
              title='{% trans "Search any isbn, search by keywords in your stock" %}'
              placeholder='{% trans "Search" %}'
            )


        ul.nav.navbar-nav.navbar-right
          //- li(href="#")
          //-   a.text-right(href="/admin", style="padding-right: 3px") {% trans "Admin" %}

          li.dropdown
            a(href="#").dropdown-toggle(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") {{'username'|ng}}
              span.caret
            ul.dropdown-menu
              li: a(href="{% url 'preferences' %}") {% trans "Preferences" %}
              li: a(href="/logout/", title=' {% trans "Logout" %}') {% trans "Logout" %}  
                  i.glyphicon.glyphicon-log-out


  #wrapper(ng-controller="baseController")
    #sidebar-wrapper

        ul.sidebar-nav.nav.nav-pills.nav-stacked
          li(ng-class="{active: url == 'collection' }")
            a(href='{% url "card_collection" %}') {% trans "My stock" %}

          li(ng-class="{active: url == 'search' }")
            a(href='{% url "card_search" %}') {% trans "Search" %}

          if user.is_staff
            li(ng-class="{active: url == 'sell' }")
              a(href='{% url "card_sell" %}') {% trans "Sell" %}
                i.glyphicon.glyphicon-credit-card(style="margin-left: 1em")

          //li(ng-class="{active: url == 'restocking' }")
            a(href='{% url "card_restocking" %}' title='{% trans "Cards to move from the stock place to the shelves" %}') {% trans "Restocking" %}
              span.badge.ng-cloak(title='{% trans "Number of cards to move from the stock to their shelves." %}') {{ "restocking_total" | ng }}

          if user.is_staff
            li(ng-class="{active: url == 'inventories' }")
              a(href='{% url "inventories" %}') {% trans "Inventories" %}

          if user.is_staff
            li(ng-class="{active: url == 'deposits' }")
              a(href='{% url "deposits" %}') {% trans "Deposits" %}

          if user.is_staff
            li(ng-class="{active: url == 'baskets' }")
              a(href='{% url "baskets" %}') {% trans "Lists" %}

          if user.is_staff
            li(ng-class="{active: url == 'boxes' }")
              a(href='{% url "boxes" %}') {% trans "Boxes" %}

          if user.is_staff
            li(ng-class="{active: url == 'reception' }")
              a(href='{% url "reception" %}') {% trans "Reception" %}

          if user.is_staff
            li(ng-class="{active: url == 'commands' }")
              a(href='{% url "basket_auto_command" %}') {% trans "Commands" %}
                span.badge.ng-cloak(title='{% trans "Number of cards needing a command." %}') {{ "auto_command_total" | ng }}
                span.badge.ng-cloak(title='{% trans "Number of ongoing commands." %}') {{ "ongoing_commands_nb" | ng }}

          li(ng-show="FEATURE_SHOW_RESERVATION_BUTTON", ng-class="{active: url == 'reservations' }")
            a(href='{% url "reservations" %}') {% trans "Client Commands" %}
              span.badge.ng-cloak(title='{% trans "Number of ongoing client commands." %}') {{ "client_commands_nb" | ng }}

          li(ng-class="{active: url == 'history' }")
            a(href='{% url "history_sells" %}') {% trans "History" %}

          if user.is_staff and FEATURE_SUPPLIERS_PAGE
            li(ng-class="{active: highlight_supplier_menu() }")
              a(href='{% url "suppliers_sells" %}') {% trans "Suppliers" %}

          //li(ng-class="{active: url == 'alerts' }")
            a(href='{% url "search_alerts" %}') {% trans "Alerts" %}
              span.badge.ng-cloak {{ "alerts_open" | ng }}


    #page-content-wrapper
      #page-content(style="padding: 1em")
        .container-fluid
          .row
            .col-md-12
                for message in GLOBAL_MESSAGES
                   if message.message
                     div.alert.alert-info(role="alert") {{ message.message }}
                {% block content %}
                {% endblock content %}

    footer(style="padding: 0 1em 1em 1em;")
      hr
      small
        if ABELUJO_VERSION
          div Abelujo version: {{ ABELUJO_VERSION }}

  // brunch: load our Vue app.
  // script
      | require("static/vue/main")
